/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  font-family: 'Cairo', sans-serif;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}



